* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* 메인 로그인 화면 */

#exampleEmail, #examplePassword {
  margin-left: 20px;
  width: 400px;
  display: inline-block;
}

.mainButtons {
  margin-left: 5px;
  margin-right: 10px;
  width: 170px;
  background-color: #09d3ac;
}

/* 네비게이션 바 */

.NavBar {
  text-align: right;
  background-color: blue;
  padding: 5px;
}

#NavText1 {
  font-size: 20px;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

#NavText2 {
  display: inline-block;
  width: auto;
  text-decoration: none;
}

.text {
  margin-right: 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#NavText1, .text:hover {
  cursor: pointer;
}

/* 회원가입 페이지 */
.SignUpContainer {
  margin-top: 50px;
  text-align: center;
}

.InputContainer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.SignUpDiv {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
}

.SignUpText {
  display: block;
  margin-bottom: 5px;
}

.SignUpInput {
  width: 300px;
  border-radius: 5px;
}

.SignUpButton {
  margin-left: 20px;
  border-radius: 5px;
}

/* 메인 보드 페이지 */
.PersonalBoards {
  margin-top: 30px;
  text-align: left;  
}

/* 보드 스타일 */
.EachBoard, #CreateBoard {
  background-color: #5dc425;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  text-align: left;
}

.EachBoard:hover {
  background-color: #559c2f;
  cursor: pointer;
}

#CreateBoard {
  background-color: #ebebeb;
  color: black;
}

#CreateBoard:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.changeBoardTitle {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  display: 'inline'
}

.changeBoardTitle:hover {
  cursor: pointer;
}

/* 각 보드 내 카드  */
.AddNewList {
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(136, 139, 137);
  font-weight: bold;
}

.AddNewList:hover {
  cursor: pointer;
  color: #303030;
}

.EachList {
  background-color: #c3c9c5;
  width: 250px;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
}

.ListTitlesContainer {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.trashCan {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 40px;
  background-image: url('https://image.flaticon.com/icons/png/512/1214/1214428.png');
  background-size: cover;
}

.trashCan:hover {
  background-image: url("https://image.flaticon.com/icons/png/512/1214/1214594.png");
  cursor: pointer;
}

.CardContents {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
  overflow: hidden;
}

.CardContents:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.AddCard:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
}

/* 내용 클릭시 모달 */
.ListTitle, .ListInput, .ModalTitle, .ModalInput, .ModalContents {
  background: transparent;
  box-shadow: none;
  font-weight: bold;
  border: none;
  width: 400px;
}

.ListTitle, .ListInput {
  width: 160px;
  display: inline-block;
}

.ListInput, .ModalInput {
  overflow: hidden;
}

.ModalContents {
  font-weight: normal;
  overflow: hidden;
  height: 100px;
}

.ListTitle, .ModalTitle:hover {
  cursor: pointer;
}

.ModalDelete {
  color: rgb(136, 139, 137);
}

.ModalDelete:hover {
  color: hsl(0, 75%, 51%);
  cursor: pointer;
}

/* 내용 클릭시 모달 (백업)*/
/* .ModalTitle, .ModalContents {
  background: transparent;
  box-shadow: none;
  font-weight: bold;
  border: none;
  width: 400px;
}

.ModalContents {
  font-weight: normal;
  overflow: hidden;
  height: 100px;
}

.ModalTitle, .ModalContents:hover {
  cursor: pointer;
}

.ModalDelete {
  color: rgb(136, 139, 137);
}

.ModalDelete:hover {
  color: hsl(0, 75%, 51%);
  cursor: pointer;
} */